<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Google Cloud Translate API.">


    <title>Translate and Detect Languages with Google Cloud Translate API</title>
  </head>
  <body>
    <div class="container">
      <h1>Translate and Detect Languages with Google Cloud Translate API</h1>
      <p>Enter text and select either Translate or Detect</a>.
     </p>
    </div>
     
    <div class="container">
        <form method="POST">
            <textarea name="text" rows="15" style="width:33%" wrap="soft"> </textarea>
            <p>
                <input type="submit" name="submit_button" value="Translate">
                <input type="submit" name="submit_button" value="Detect">
            </p>
        </form>
    </div>
    
        {% if result %}
        <pre>{{ result }}</pre>
        {% endif %}
    </body>
</html>
