<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Google Cloud Translate API.">


    <title>Translate and Detect Languages with Google Cloud Translate API</title>
  </head>
  <body>
    <div class="container">
      <h1>Translate and Detect Languages with Google Cloud Translate API</h1>
      <p>Enter text into the following text box and select Translate or Detect</a>.
     </p>
     
<form method="POST">
    <input name="text">
    <input type="submit" name="submit_button" value="Translate">
    <input type="submit" name="submit_button" value="Detect">
</form>

