    <title>Detect Languages with Google Cloud Translate API</title>
  </head>
  <body>
    <div class="container">
      <h1>Translate with Google Cloud Translate API</h1>
      <p>Enter text and submit into the following box to use the Google Cloud Translate API to translate the submitted word. The tool only works with single words. 
          It does not comprehend context within a phrase</a>.
     </p>
    </div>


<form method="POST">
    <input name="text">
    <input type="submit">
</form>
